
<mat-sidenav-container class="example-container background">
    <mat-sidenav #sidenav mode="over" [fixedInViewport]="true"  style="max-width: 300px;">
        <app-category></app-category>
    </mat-sidenav>

    <mat-sidenav-content>
        <div class="row mx-0 mt-3">
            <div class="col-10">
                <div class="float-left logo mb-1 ">
                    <button mat-icon-button  class="mr-5 text-white" (click)="sidenav.toggle()">
                        <mat-icon >menu</mat-icon>
                    </button>
                    <a href="" class="text-decoration-none text-white"  >
                     <i class="fa fa-user text-left"></i> 
                        E-Cart
                    </a>
                </div>
                <div class="float-right">
                    <ul>
                        <li class="list-inline-item text-decoration-none mx-4 pt-2" *ngFor="let item of menuArray">
                            <a href="" class="text-decoration-none text-white" routerLink="{{'/' + item.urlname}}">
                                <i class="fa fa-{{item.font}} mr-1"></i>
                                {{item.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>


