.thumbimg{
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.backimage{
    height: 200px;
    width: 100%;
    
    background-repeat: no-repeat;
    background-size: cover;
}
.skin{
    height: 200px;
    width: 100%;
    transition: all .3s ease-in-out;
}
.desc_text{
    display: none;
    transition: all .3s ease-in-out;
}
.skin:hover .desc_text{
    display: block;
    transition: all .3s ease-in-out;
}
.skin:hover{
    background-color: #21252982;
}